:root {
    --main-color: rgb(128, 191, 216);
    --shadow-color: rgb(90, 205, 250);
    --font: 'Oswald', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(/assets/image/R.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #202020;
}

header {
    height: 25%;
}

main {
    height: 75%;
}

.headbar {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.headbar .logo h1 span, h1 {
    
    color: var(--main-color);
    text-align: center;
    font-size: calc(20px + 2.5vw);
}

.headbar .logo h1 span,
a {
    transition: .5s linear;
    cursor: pointer;
    text-align: end;
}

.headbar .logo h1:hover {
    transform: scaleX(80%);
    transition: .7s;
}

.headbar .logo h1 span:hover,
a:hover {
    color: var(--main-color);
    text-shadow: 0 0 5px var(--shadow-color), 0 0 15px var(--shadow-color);
}

.headbar .navbar,
a {
    position: relative;
    font-size: 35px;
    text-decoration: none;
    color: rgb(119, 210, 247);
    display: flex;
    gap: 30px;
    text-align: center;
    font-size: calc(14px + 0.9vw);
    margin-top: 12px;
}

.headbar .navbar a::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    height: 3px;
    border-radius: 5px;
    bottom: -6px;
    left: 6px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.headbar .navbar a:hover::after {
    transform: scaleX(1);
    color: #FFFFFF;
    text-shadow: 0 0 5px var(--shadow-color), 0 0 15px var(--shadow-color);
}

@media only screen and (max-width: 768px) {
    header {
        height: 30%;
    }

    .headbar {
        flex-direction: column;
    }

    .headbar .logo {
        display: flex;
        justify-content: center;
    }
    
    .headbar .logo h1 span {
        font-size: calc(30px + 2.5vw);
    }

    .headbar .navbar a {
        font-size: calc(18px + 0.9vw);
    }
}

/*MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIIIIIIIIIIIINNNNNNNNNNNNNNNNN*/

main {
    display: flex;
}

.infomain {
    display: inline-block
}

.infomain .text h1 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.5s,
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

main .infomain {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5.5%;
    padding-left: 0.9%;
    color: var(--main-color);
    font-size: 30px;
}

.infomain .text {
    width: 100%;
}

.infomain .text h1 {
    font-size: calc(25px + 0.7vw);
    transition: 0.5s ease;
}

.infomain .text p span {
    color: #46bdd9;
}

@media only screen and (max-width: 576px) {
    .infomain .text h1 {
        max-width: 100%;
        font-size: calc(15px + 1.0vw);
        padding-top: 50px;
    }

    .infomain .text {
        max-width: 100%;
        font-size: 10px;
    }
}


@media only screen and (max-width: 768px) {
    .infomain .text h1{
        max-width: 100%;
        font-size: calc(15px + 1.0vw);
        padding-top: 50px;
    }
}

@media only screen and (min-width: 769px){
    .infomain .text {
        position: relative;
    }

    .infomain .text h1{
        max-width: 100%;
        font-size: calc(1.5px + 2.5vw);
        position: absolute;
        right: 17.5%;
    }
}
